.my-btn {
    float: left;
    margin-right: 3px;
}

.th-dark {
    color: black;
    font-weight: bold;
}

.rounded {
    border-radius: 10px;
}

.edit{
    color: black;
    float: left;
    background-color: rgba(255,255,255,.15);
    border-color: rgba(255,255,255,.15);
}

.delete{
    background-color: rgba(255,255,255,.15);
    border-color: rgba(255,255,255,.15);
}

.search-btn {
    color: #337ab7;
    border-color: #ffffff;
    background-color: rgba(255,255,255,.15);
}

.icon-btn {
    padding: 7px 17px 5px 3px;
    margin: 10px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.btn-glyphicon {
    padding: 4px;
    background: #ffffff;
    margin-right: 1px;
}
.non-decorated {
    text-decoration: none !important;
}

#topheader .navbar-nav li > a {
   color: #333;
    transition: background-color 0.2s, color 0.2s;
}

#topheader .navbar-nav li > a:hover {
    background-color: #333;
    color: #fff;
}

.active {
    background-color: #333;
    color: #fff!important;

}